body{
    font-family: Helvetica;
    font-size: 16px;
    margin: 0;
    
    background-color: #ecf0f1;
}
#header{
    height: 114px;
    width: 100%;
    display: flex;
    justify-content: center;

}
#cabecalho{
    background-color: #3199dc;
    height: 114px;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
}


#menu{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnMenu{
    margin-right: 30%;
    margin-top: 5px;
    cursor: pointer;
}

#logo{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-end;
}

#imgLogo{
    margin-left: 13%;
}

#descricaoCabecalho{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

#textoDescricao{
    font-family: Helvetica, Arial, sans-serif;
   
    color: #d0f2ff;
    user-select: none;
    margin-top: 8.8%;
    margin-left:6.2% ;
}

#textoDescricaoDestacado{
    font-weight: bold;
}

#redesSociais{
    height: 100%;
    width: 21%;
    padding-right: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#fb_img{
    height: 28%;
    width: 85px;
    margin-top: 1%;
    margin-left: 7%;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 0.6em;
    color: #335190;
    box-shadow: 0px 0px 1px #333333;
}


#tw_img{
    height: 28%;
    width: 85px;
    margin-top: 1%;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 0.6em;
    color: #00aff2;
    box-shadow: 0px 0px 1px #333333;
}

#sessaoCarrossel{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#carrossel{
    height: 47vh;
    min-height: 440px;
    width: 85%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 55px;
}

#imgCarrossel{
    position: relative;
    background-image: url('../assets/desktop/image_rotate.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

#textoAzulCarrossel{
    position: absolute;
    background-color:  #3199dc ;
    width: 23.1%;
    height: 25px;
    font-size: 1em;
    color: #ffffff ;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-top: 3px;
    margin-top: 310px;
    margin-left:29px ;
}

#textoBrancoCarrossel1{
    font-family: Helvetica;
    position: absolute;
    font-size:1.7em;
    color: #ffffff ;
    margin-top: 354px ;
    margin-left:29px ;
    font-weight: bold;
}


#textoBrancoCarrossel2{
    font-family: Helvetica;
    position: absolute;
    font-size:1.7em;
    color: #ffffff ;
    margin-top: 388px ;
    margin-left:29px ;
    font-weight: bold;
}

#textoBrancoCarrossel3{
    display: none;
    font-family: Helvetica;
    position: absolute;
    font-size:1.7em;
    color: #ffffff ;
    margin-top: 354px ;
    margin-left:29px ;
    font-weight: bold;
}

.botaoCarrossel{
    background-color: #ffffff;
    width: 55px;
    height: 55px;
    border-style: none;
    box-shadow: 0px 1px 3px #8f8e8eb0;
    border-radius:100px;
    outline: none;
    cursor: pointer;
}

#setaEsquerdaCarrossel{
    position:absolute;
    margin-top:210px;
    margin-left: -30px;
}

#setaDireitaCarrossel{
    position:absolute;
    margin-top:210px;
    right: -30px;
}

#paginacao{
    margin-top:15px ;
}

.paginacaoCarrossel{
    background-color: #9b9b9b;
    height:12px;
    width:12px;
    border-radius: 10px;
    border-style: none;
    margin: 5px;
    outline: none;
    cursor: pointer;
}

#paginacaoCarrosselAtivo{
    background-color: #19a5ea;
}

#topCacildis{
    width: 100%;
    height: 20vw;
    max-height: 260px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardsTopCacildis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    height: 80%;
    max-width: 1140px;
}

.cardImgCacildis{
    height: 100%;
}


#h2TopCacildis{
    color: #283c4f;
    font-size: 1.5em;
    font-weight: lighter;
    width: 85%;
    max-width: 1140px;
    margin-top: 0;
}


#divImgCacildis{
    position: relative;
    height: 100%;
}


.textoCardsCacildis{
    position: absolute;
    background-color:#e84b39b7 ;
    height: 30px;
    padding-left: 20px;
    color: #ffffff;
    font-size: .8em;
    font-weight: lighter;
    display: flex;
    align-items: center;
    margin-top: 40%;
}

#pindureta{
    width: 25%;
    min-width: 65px;
}

#bolis{
    width:18% ;
    min-width: 120px;
}

#sapien{
    width: 21%;
    min-width: 120px;
}

#h2DivoltisPorris{
    color: #283c4f;
    font-size: 1.5em;
    font-weight: lighter;
    width: 85%;
    max-width: 1140px;
    margin-top: 0;
}

#divoltisPorris{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    max-height: 800px;
}

#divoltisPorrisDiv{
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    max-width: 1140px;
    height: 52vw;
    max-height: 725px;
}

#cardsDivoltisPorris{
    height: 100%;
    width: 65.3%;
    max-width: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.divCardsDivoltis{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.cardsDivoltis{
    max-height: 350px;
    width: 50%;
    height: 100%;
    max-width: 348.27px;
}

.cardsDivoltis>h2{
    color: #478cbe;
    font-size: 1em;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardsDivoltis>p{
    color: #283c4f;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}
.cardsDivoltis>h3{
    background-color: #d6d6d6;
    width: 100%;
    height: 1px;
    margin-top: 35px;  
}
#concetisCard,#matisCard{
    margin-right: 2.6vw;
}

.cardsDivoltis>img{
    height: 60%;
    max-height: 208px;
}

#publicidadeDivoltis{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 46px;
    margin-left: 20px;
    height: 100%;
}

#textoPublicidade{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    color: #959595 ;
    font-size: .75em;
    margin-bottom: 5px;
}

#paisisSeSuco{
    width: 100%;
    
    max-height: 455px;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
}

#divPaisisSeSuco{
    width: 85%;
    height: 35vw;
    max-height: 450px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.paisisPirulita{
    width: 30%;
    max-width: 360px;
    height: 80%;
}

#paisisFilhis>h2{
    color:#19a5ea;
    font-weight: normal;
    font-size: 1.6em;
}

#paisisFilhis>p{
    color: #283c4f;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

#paisisFilhis>h3{
    background-color: #d6d6d6;
    width: 100%;
    height: 1px;
    margin-top: 28px;
}


#sePirulita{

}

#sePirulita>h2, #sucoDeCevadiss>h2{
    color:#e84b39;
    font-weight: normal;
    font-size: 1.6em;
}

#namLiber, #gostis1, #interagi, #gostis2{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 50%;
}

.textoPirulita{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

.textoPirulita>h3{
    color:#e84b39;
    font-weight: normal;
    font-size: .8em;
    margin-bottom: 5px;
}

.textoPirulita>p{
    color: #283c4f;
    font-weight: normal;
    font-size: .95em;
    margin: 0;
}

#publicidadePaisis{
    display: none;
}

#rodape{
    margin-top: 300px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#conteudoRodape{
    width: 100%;
    height: 100%;
    max-width: 1300px;
}

#divAzulClaro{
    background-color: #19a5ea;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#divAzulClaro>span{
    color: #ffffff;
   
}

#setaCimaBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 50px 0px 0px;
}

#divAzulEscuro{
    background-color: #283c4f;
    height:70%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#textoRodape{
    width: 57%;
    color: #ffffff;
    font-size: 0.8em;
    margin-right: 100px;
}

#divAzulEscuro>img{
    margin-left: 90px;
}

@media screen and (max-width: 1280px){
    body{
        font-size: 12px;
    }
    #logo{
        margin-right: 65px;
    }

}


@media screen and (max-width: 800px){
    body{
        font-size: 12px;
    }
    header{
        margin-bottom: 10%;
    }

    #cabecalho{
        height: 114px;
    }

    #menu{
        width: 20%;
    }

    #logo{
        margin-right: 15%;
    }

    #imgLogo{
        margin: 0;
        margin-right: 5%;
    }

    #textoDescricao{
        margin-top: 50px;
        margin-left: 0px;
    }

    #redesSociais{
        width: 12%;
        padding-right: 10px;
        padding-top: 15px;
    }

    .rsLink>span{
        display: none;
    }

    #fb_img, #tw_img{
        width: 30px;
        height: 30px;
    }

    #textoAzulCarrossel {
        width: 30%;

    }

    #pindureta{
        width: 35%;
    }

    .textoCardsCacildis{
        height: 15% ;
    }

    #publicidadeDivoltis{
        display: none;
    }
    #cardsDivoltisPorris{
        width: 100%;
        
    }

    #divoltisPorrisDiv{
        height: 78vw; 
    } 

    #paisisSeSuco{
        
    }

    #publicidadePaisis{
        display: block;
    }
    
    #divPaisisSeSuco{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .paisisPirulita{
        width: 45%;
        max-width: 360px;
    }

    #paisisFilhis>h3{
        margin-top: 0.5em;
    }

    #sucoDeCevadiss{
        margin-top: 18vw;
    }

    #publicidadePaisis{
        margin-top: 20vw;
    }
    
    #paisisSeSuco{
        height: 70vw;
        max-height: 2000px;
    }
}


@media screen and (max-width: 600px){
    body{
        font-size: 16px;
    }
    header{
        margin-bottom: 0;
    }
    #cabecalho{
        height: 100px;
    }
    #textoDescricao{
        display: none;
    }
    #fb_img,#tw_img{
        display: none;
    }
    #menu{
        width: 35%;
    }
    .botaoCarrossel{
        display: none;
    }
    #sessaoCarrossel{
        height:45vh ;
        min-height: 290px;
    }
    #imgCarrossel{
        max-width: 337.5px;
    }
    #carrossel{
        height: 35vh;
        max-width: 337.5px;
        min-height: 290px;
        width: 90%;
        background-position: center;
        flex-direction: column;
    }

    #textoAzulCarrossel{
        bottom: 5%;
        margin-left: 1%;
        width: 70%;
    }

    #textoBrancoCarrossel2, #textoBrancoCarrossel1{
        display: none;
    }
    #textoBrancoCarrossel3{
        position: relative;
        margin:0;
        margin-top: 5%;
        display: block;
        color: #283c4f;
        font-size: 2em;
    }

    #h2TopCacildis{
        display: none;
    }

    #topCacildis{
        width: 100%;
        height: 150vh;
        max-height: 700px;
    }

    #cardsTopCacildis{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;
    }

    #divImgCacildis{
        width: 100%;
        height: unset;
    }
    #divoltisPorris{
        height: 200vh;
        min-height: 1300px;
        max-height: 1310px;
        
    }

    #divoltisPorrisDiv{
        height: 100%;
        width: 90%;
        max-width: 360px;
        max-height: 2000px;
        flex-direction: column;
    }
    
    #cardsDivoltisPorris{
        height: 50%;
    }

    .divCardsDivoltis{
        flex-direction: column;
        height: 50%;
        margin-bottom: 90%;
    }

    .cardsDivoltis{
        width: 100%;
    }

    #paisisSeSuco{
        height: 200vh;
        min-height: 1600px;
        max-height: 1610px;
        margin-top: 20%;
    }

    #divPaisisSeSuco{
        height: 100%;
        max-width: 540px;
        flex-direction: row;
        justify-content: center;
    }

    .paisisPirulita{
        width: 100%;
        margin-bottom: 20%;
    }
    #divAzulEscuro{
        justify-content: center;
    }
    #divAzulEscuro>img{
        display: none;
    }
    #textoRodape{
        width: 90%;
        height: 80%;
        margin: 0;
    }

    #divImgCacildis>img{
        width: 100%;
        height: auto;
    }
    #rodape{
        margin-top: 60%;
    }
}
